# Dependências
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Arquivos de build
/build
/dist

# Arquivos de desenvolvimento
.git
.github
.vscode
*.md
!README.md
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos Docker
Dockerfile
docker-compose.yml
.dockerignore

# Outros
coverage
.DS_Store 